<div class="page">
  <div class="page_content">
    <div class="page_block">
      <header class="header row g-0">
        <div class="col-3">
          {{>logo}}
        </div>
        {{!-- посилання справа сторінки --}}
        <nav class="header_nav col-9 ">
          <div class="header_nav_right">
            {{!-- ітeрація списка зі змінною header --}}
            {{>nav list=header}}
          </div>
        </nav>
      </header>
      {{>divider}}
    </div>
    {{!-- хироблок заголовок та вступ--}}
    <div class="hero_block">
      {{>hero title=hero.title text=hero.text}}
    </div>
    {{!-- блок карток --}}
    <div class="page_block">
      <main class="row g-0 plans">
        {{!-- не задаємо число колонок col, щоб була адаптац по замовч--}}
        {{#each plans}}
        <div class="col plans_card">
          {{>card data=this}}
        </div>
        {{/each}}
      </main>
    </div>

  </div>


  {{!-- блок футера --}}
  <div class="page_block">
    {{>divider}}
    <footer class="row footer">
      <div class="col-3">
        {{>logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
      </div>
      {{!-- ітерація змінної title--}}
      {{#each footer}}
      <div class="col-3">
        <span class="footer_title">{{title}}</span>
        {{!-- ітeрація списка зі змінною links вертикально --}}
        {{>nav list=links isVertical=true}}
      </div>
      {{/each}}
    </footer>
  </div>

</div>
</div>