{{#with data}}
<div class="upd_card">
    <img class="upd_img" src="#" alt="32x32">
    <div class="upd_data">
        <p class="upd_name">{{nickname}}</h2>
        <p class="upd_text">{{description}}</p>
    </div>
</div>
{{/with}}