<div class="footer">
    <div class="footer_info">
        <div class="footer_policy">
            {{#each pages}}
            <a class="policy_item" href="{{path}}">{{name}}</a>
            {{/each}}
        </div>
        <div class="copyright">{{copyright}}</div>
    </div>
</div>