{{!-- <div>
    {{!-- универсальна змінна data, а в сонтейнере указать дата=hero 
{{#with data}}
<h1 class="hero_title"> {{title}} </h1>
<p class="hero_text"> {{text}} </p1>
    {{/with}}
    </div> --}}


{{!-- як варіант гнучності прибираємо with,
 а в контенті підписуемо окремо тайтл и текст--}}
<div>
    <h1 class="hero_title"> {{title}} </h1>
    <p class="hero_text"> {{text}} </p1>
</div>